<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">
  
  <object name="decoders" type="System.Collections.Generic.Dictionary&lt;System.Byte, NovoCyteSimulator.Messages.CBase>">
    <constructor-arg>
      <dictionary>
        <entry key="0xA8" value-ref="CA8" />
        <entry key="0x01" value-ref="C01" />
        <entry key="0x03" value-ref="C03" />
        <entry key="0x11" value-ref="C11" />
        <entry key="0x13" value-ref="C13" />
        <entry key="0x14" value-ref="C14" />
        <entry key="0x20" value-ref="C20" />
        <entry key="0x21" value-ref="C21" />
        <entry key="0x22" value-ref="C22" />
        <entry key="0x24" value-ref="C24" />
        <entry key="0x25" value-ref="C25" />
        <entry key="0x26" value-ref="C26" />
        <entry key="0x27" value-ref="C27" />
        <entry key="0x2D" value-ref="C2D" />
        <entry key="0x58" value-ref="C58" />
        <entry key="0x5D" value-ref="C5D" />
        <entry key="0x5F" value-ref="C5F" />
        <entry key="0x64" value-ref="C64" />
        <entry key="0x68" value-ref="C68" />
        <entry key="0x6A" value-ref="C6A" />
        <entry key="0xEB" value-ref="CEB" />
        <entry key="0xEC" value-ref="CEC" />
        <entry key="0xEF" value-ref="CEF" />
        <entry key="0x78" value-ref="C78" />
      </dictionary>
    </constructor-arg>
  </object>

  <object name="CA8" type="NovoCyteSimulator.Protocols.Messages.CA8, NovoCyteSimulator">
  </object>
  <object name="C01" type="NovoCyteSimulator.Protocols.Messages.C01, NovoCyteSimulator">
  </object>
  <object name="C03" type="NovoCyteSimulator.Protocols.Messages.C03, NovoCyteSimulator">
  </object>
  <object name="C11" type="NovoCyteSimulator.Protocols.Messages.C11, NovoCyteSimulator">
  </object>
  <object name="C13" type="NovoCyteSimulator.Protocols.Messages.C13, NovoCyteSimulator">
  </object>
  <object name="C14" type="NovoCyteSimulator.Protocols.Messages.C14, NovoCyteSimulator">
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C20" type="NovoCyteSimulator.Protocols.Messages.C20, NovoCyteSimulator">
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C21" type="NovoCyteSimulator.Protocols.Messages.C21, NovoCyteSimulator">
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C22" type="NovoCyteSimulator.Protocols.Messages.C22, NovoCyteSimulator">
  </object>
  <object name="C24" type="NovoCyteSimulator.Protocols.Messages.C24, NovoCyteSimulator">
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C25" type="NovoCyteSimulator.Protocols.Messages.C25, NovoCyteSimulator">
  </object>
  <object name="C26" type="NovoCyteSimulator.Protocols.Messages.C26, NovoCyteSimulator">
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C27" type="NovoCyteSimulator.Protocols.Messages.C27, NovoCyteSimulator">
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C2D" type="NovoCyteSimulator.Protocols.Messages.C2D, NovoCyteSimulator">
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C58" type="NovoCyteSimulator.Protocols.Messages.C58, NovoCyteSimulator">
  </object>
  <object name="C5D" type="NovoCyteSimulator.Protocols.Messages.C5D, NovoCyteSimulator">
  </object>
  <object name="C5F" type="NovoCyteSimulator.Protocols.Messages.C5F, NovoCyteSimulator">
  </object>
  <object name="C64" type="NovoCyteSimulator.Protocols.Messages.C64, NovoCyteSimulator">
  </object>
  <object name="C68" type="NovoCyteSimulator.Protocols.Messages.C68, NovoCyteSimulator">
  </object>
  <object name="C6A" type="NovoCyteSimulator.Protocols.Messages.C6A, NovoCyteSimulator">
  </object>
  <object name="CEB" type="NovoCyteSimulator.Protocols.Messages.CEB, NovoCyteSimulator">
  </object>
  <object name="CEC" type="NovoCyteSimulator.Protocols.Messages.CEC, NovoCyteSimulator">
  </object>
  <object name="CEF" type="NovoCyteSimulator.Protocols.Messages.CEF, NovoCyteSimulator">
  </object>
  <object name="C78" type="NovoCyteSimulator.Protocols.Messages.C78, NovoCyteSimulator">
  </object>
</objects>