<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">
  
  <object name="decoders" type="System.Collections.Generic.Dictionary&lt;System.Byte, NovoCyteSimulator.Messages.CBase>">
    <constructor-arg>
      <dictionary>
        <entry key="0x01" value-ref="C01" />
        <entry key="0x03" value-ref="C03" />
        <entry key="0x11" value-ref="C11" />
        <entry key="0x13" value-ref="C13" />
        <entry key="0x20" value-ref="C20" />
        <entry key="0x21" value-ref="C21" />
        <entry key="0x22" value-ref="C22" />
        <entry key="0x24" value-ref="C24" />
        <entry key="0x25" value-ref="C25" />
        <entry key="0x26" value-ref="C26" />
        <entry key="0x5D" value-ref="C5D" />
        <entry key="0x5F" value-ref="C5F" />
        <entry key="0xEB" value-ref="CEB" />
        <entry key="0x78" value-ref="C78" />
      </dictionary>
    </constructor-arg>
  </object>

  <object name="abstractDecoder" abstract="true" type="NovoCyteSimulator.Messages.CBase, NovoCyteSimulator" >
    <property name="config" ref="config"/>
  </object>
  <object name="C01" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C01, NovoCyteSimulator">
    <constructor-arg value="0x01"/>
  </object>
  <object name="C03" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C03, NovoCyteSimulator">
    <constructor-arg value="0x03"/>
  </object>
  <object name="C11" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C11, NovoCyteSimulator">
    <constructor-arg value="0x11"/>
  </object>
  <object name="C13" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C13, NovoCyteSimulator">
    <constructor-arg value="0x13"/>
  </object>
  <object name="C20" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C20, NovoCyteSimulator">
    <constructor-arg value="0x20"/>
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C21" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C21, NovoCyteSimulator">
    <constructor-arg value="0x21"/>
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C22" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C22, NovoCyteSimulator">
    <constructor-arg value="0x22"/>
    <property name="_sampleData" ref="sampleData"/>
  </object>
  <object name="C24" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C24, NovoCyteSimulator">
    <constructor-arg value="0x24"/>
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C25" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C25, NovoCyteSimulator">
    <constructor-arg value="0x25"/>
  </object>
  <object name="C26" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C26, NovoCyteSimulator">
    <constructor-arg value="0x26"/>
    <property name="_c78" ref="C78"/>
  </object>
  <object name="C5D" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C5D, NovoCyteSimulator">
    <constructor-arg value="0x5D"/>
  </object>
  <object name="C5F" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C5F, NovoCyteSimulator">
    <constructor-arg value="0x5F"/>
  </object>
  <object name="CEB" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C5F, NovoCyteSimulator">
    <constructor-arg value="0xEB"/>
  </object>
  <object name="C78" parent="abstractDecoder" type="NovoCyteSimulator.Protocols.Messages.C78, NovoCyteSimulator">
    <constructor-arg value="0x78"/>
  </object>
</objects>