<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns='http://www.springframework.net'
  xmlns:db="http://www.springframework.net/database">
  <!--provider设置关联数据库，connection为连接字符串-->
  <db:provider id="dbProvider" provider="System.Data.SQLite"
               connectionString="Data Source=./NCFData/170410_0917.ncf;Version=3"/>

  <!--设置adoTemplate，不需要改变-->
  <object id="adoTemplate" type="Spring.Data.Generic.AdoTemplate, Spring.Data">
    <property name="DbProvider" ref="dbProvider"/>
  </object>

  <!--设置数据库转化器-->
  <object id="sqliteConvertor" type="Summer.System.Data.VarietyDb.SqliteConvertor, Summer.System">
    <property name="provider" ref="dbProvider"/>
  </object>

  <!--设置每张表的Ado，注意左尖括号用'&lt'表示-->
  <object id="sampleDataADO" type="NovoCyteSimulator.ADO.SampleDataADO, NovoCyteSimulator">
    <property name="adoTmplte" ref="adoTemplate"/>
    <property name="convertor" ref="sqliteConvertor"/>
  </object>

  <object id="sampleDataDataADO" type="NovoCyteSimulator.ADO.SampleDataDataADO, NovoCyteSimulator">
    <property name="adoTmplte" ref="adoTemplate"/>
    <property name="convertor" ref="sqliteConvertor"/>
  </object>

  <object id="sampleConfigADO" type="NovoCyteSimulator.ADO.SampleConfigADO, NovoCyteSimulator">
    <property name="adoTmplte" ref="adoTemplate"/>
    <property name="convertor" ref="sqliteConvertor"/>
  </object>

  <object id="dbADOFactory" type="NovoCyteSimulator.ADO.DBADOFactory, NovoCyteSimulator">
    <property name="_sampleDataADO" ref="sampleDataADO"/>
    <property name="_sampleDataDataADO" ref="sampleDataDataADO"/>
    <property name="_sampleConfigADO" ref="sampleConfigADO"/>
  </object>
  
</objects>